[submodule "Pikzel/vendor/entt"]
	path = Pikzel/vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "Pikzel/vendor/glfw"]
	path = Pikzel/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Pikzel/vendor/glm"]
	path = Pikzel/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Pikzel/vendor/spdlog"]
	path = Pikzel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pikzel/vendor/tracy"]
	path = Pikzel/vendor/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Pikzel/vendor/imgui"]
	path = Pikzel/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Pikzel/vendor/stb"]
	path = Pikzel/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "Pikzel/vendor/assimp"]
	path = Pikzel/vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "Pikzel/vendor/cmrc"]
	path = Pikzel/vendor/cmrc
	url = https://github.com/vector-of-bool/cmrc.git
[submodule "Pikzel/vendor/VulkanMemoryAllocator-Hpp"]
	path = Pikzel/vendor/VulkanMemoryAllocator-Hpp
	url = https://github.com/malte-v/VulkanMemoryAllocator-Hpp.git
[submodule "Pikzel/vendor/tinyfiledialogs"]
	path = Pikzel/vendor/tinyfiledialogs
	url = https://github.com/native-toolkit/tinyfiledialogs.git
[submodule "Pikzel/vendor/dds-ktx"]
	path = Pikzel/vendor/dds-ktx
	url = https://github.com/septag/dds-ktx.git
[submodule "Pikzel/vendor/yaml-cpp"]
	path = Pikzel/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Pikzel/vendor/ImGuiAl"]
	path = Pikzel/vendor/ImGuiAl
	url = https://github.com/leiradel/ImGuiAl
